In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as  plt
%matplotlib inline

In [3]:
df=pd.read_csv('D:\Lockdown days\Coursera\Machine learning with python\FuelConsumption.csv')

In [4]:
df.columns

Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')

In [5]:
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [6]:
cat_col = df.select_dtypes(include=['object']).columns
num_col = df.select_dtypes(exclude=['object']).columns
df_cat = df[cat_col]
df_num = df[num_col]

In [7]:
df.drop(df.columns[1:4],axis=1,inplace=True)

In [8]:
df.head()

,MODELYEAR,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [9]:
df.describe()

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

In [10]:
df.shape

(1067, 10)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 10 columns):
MODELYEAR                   1067 non-null int64
ENGINESIZE                  1067 non-null float64
CYLINDERS                   1067 non-null int64
TRANSMISSION                1067 non-null object
FUELTYPE                    1067 non-null object
FUELCONSUMPTION_CITY        1067 non-null float64
FUELCONSUMPTION_HWY         1067 non-null float64
FUELCONSUMPTION_COMB        1067 non-null float64
FUELCONSUMPTION_COMB_MPG    1067 non-null int64
CO2EMISSIONS                1067 non-null int64
dtypes: float64(4), int64(4), object(2)
memory usage: 83.4+ KB

In [12]:
df.head()

,MODELYEAR,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [13]:
df.drop(df.columns[[0,3,4,8]],axis=1,inplace=True)

In [14]:
df.head()

,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,CO2EMISSIONS
0,2.0,4,9.9,6.7,8.5,196
1,2.4,4,11.2,7.7,9.6,221
2,1.5,4,6.0,5.8,5.9,136
3,3.5,6,12.7,9.1,11.1,255
4,3.5,6,12.1,8.7,10.6,244

In [15]:
df.info() #now all numerical

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 6 columns):
ENGINESIZE              1067 non-null float64
CYLINDERS               1067 non-null int64
FUELCONSUMPTION_CITY    1067 non-null float64
FUELCONSUMPTION_HWY     1067 non-null float64
FUELCONSUMPTION_COMB    1067 non-null float64
CO2EMISSIONS            1067 non-null int64
dtypes: float64(4), int64(2)
memory usage: 50.1 KB

In [16]:
len(df)

1067

In [17]:
splt=np.random.rand(len(df))<0.8
train=df[splt]
test=df[~splt]

In [18]:
train.shape

(840, 6)

In [19]:
test.shape

(227, 6)

In [20]:
from sklearn.linear_model import LinearRegression

In [99]:
reg=LinearRegression()

In [100]:
x=np.asanyarray(train[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_COMB']])
y=np.asanyarray(train['CO2EMISSIONS'])

In [101]:
reg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [116]:

print ('Coefficients: ', reg.coef_)
print ('Intercept: ',reg.intercept_)

Coefficients:  [[10.16798801  7.33048067  6.07315186  3.6779309 ]]
Intercept:  [64.65215424]

In [104]:
X=np.asanyarray(test[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_COMB']])
Y=np.asanyarray(test['CO2EMISSIONS'])
Y_predicted=reg.predict(X)
print(Y_predicted)

[213.89579321 209.91912644 369.5721076  325.12757764 325.12757764
 213.83103464 206.87186779 213.83103464 222.1997245  223.19389119
 248.0480585  312.12246242 290.2184159  293.20091598 197.92436756
 200.90686764 204.88353441 239.10055827 242.08305835 235.1238915
 240.09472496 295.25400794 290.28317447 295.25400794 222.1997245
 231.14722473 306.18984155 204.88353441 252.02472527 192.85639624
 199.97745952 215.81936802 253.11602982 258.08686328 352.21292298
 352.21292298 333.32375583 350.22458959 193.9153215  217.87245998
 302.93769194 342.12554927 342.12554927 391.83388388 353.97460136
 373.05804423 441.655546   214.90614955 204.94829298 187.88556278
 190.93282143 315.28304857 361.01471642 188.87972947 288.90603075
 215.88412659 250.13352974 315.34780715 254.11019651 312.36530707
 309.38280699 257.09269659 263.05769674 309.78353128 265.04603013
 185.89722939 194.84472962 402.78590714 259.06484033 268.04471985
 209.85436787 270.99484064 361.16042321 269.03888654 370.90781441
 279.97472016 216.81353471 190.90044214 301.31614595 252.13805277
 204.88353441 286.90150772 204.81877583 217.88864962 210.78377599
 273.99353036 385.86888373 402.7697175  441.655546   329.78019263
 306.80103121 315.28304857 361.01471642 333.32375583 315.28304857
 196.99495944 162.13436664 187.95032135 208.92495975 250.1173401
 277.95400749 198.91853425 258.03829435 202.95995959 180.09412567
 181.08829236 223.83746013 189.90627545 197.85960899 219.29817264
 263.07388639 220.29233933 203.97031593 319.21114641 262.96055888
 307.2811461  349.03614718 307.2811461  307.2811461  300.32197926
 311.25781287 212.90162652 226.81996021 228.8082936  346.28030211
 272.99936367 278.96436382 194.9094882  206.80710922 203.82460914
 204.94829298 387.80864818 262.96055888 312.6688935  321.1994798
 261.96639219 261.96639219 328.15864664 387.80864818 250.1173401
 288.39197895 259.09721962 393.83840691 198.91853425 207.9469827
 193.03448231 185.99436725 196.01698239 192.04031562 212.83686794
 193.94770079 248.12900672 205.8777011  246.14067333 314.32126117
 356.07626225 323.13924425 337.18709509 303.80234149 242.08305835
 286.48459378 196.86544229 199.84794237 189.90627545 189.90627545
 194.87710891 194.87710891 195.93603417 199.91270094 162.37520289
 203.95412629 208.92495975 201.90103433 261.085553   260.09138631
 195.0228157  250.1173401  254.09400687 246.12448369 253.08365053
 259.11340926 255.13674249 309.2371002  299.29543328 322.30697399
 322.70769828 264.05186344 380.62126872 168.98020598 208.94114939
 208.94114939 198.91853425 188.94448804 184.96782127 156.08841827
 181.93675227 207.86603448 209.85436787 220.79020148 267.03436351]

In [109]:
Y #test set er actual y

array([221, 212, 359, 354, 354, 230, 214, 230, 224, 227, 294, 336, 290,
       297, 193, 200, 209, 230, 237, 221, 232, 292, 281, 292, 191, 212,
       317, 209, 260, 196, 189, 235, 248, 260, 382, 382, 338, 377, 189,
       230, 347, 380, 380, 344, 419, 435, 413, 221, 200, 184, 182, 317,
       294, 186, 230, 225, 242, 308, 251, 301, 294, 258, 271, 264, 276,
       179, 200, 360, 264, 281, 221, 292, 402, 283, 315, 308, 165, 186,
       292, 244, 209, 229, 218, 228, 232, 297, 334, 362, 413, 285, 259,
       317, 294, 338, 317, 182, 110, 175, 209, 244, 308, 196, 267, 196,
       143, 145, 244, 184, 202, 172, 269, 175, 196, 334, 285, 306, 280,
       306, 306, 290, 315, 218, 251, 255, 363, 294, 308, 191, 223, 216,
       200, 342, 285, 278, 338, 283, 283, 354, 342, 244, 262, 260, 346,
       196, 205, 170, 166, 177, 168, 228, 184, 239, 212, 235, 310, 407,
       350, 363, 256, 278, 246, 200, 207, 184, 184, 196, 196, 189, 198,
       147, 198, 209, 202, 264, 262, 175, 244, 253, 237, 253, 258, 248,
       315, 292, 324, 285, 274, 368, 143, 207, 207, 196, 177, 168, 108,
       168, 216, 221, 246, 281], dtype=int64)

In [110]:
print("Residual sum of squares: %.2f"  % np.mean((Y-Y_predicted) ** 2)) #Y_predicted-Y korleo same ashbe

Residual sum of squares: 588.85

In [111]:
print('Variance score: %.2f' % reg.score(X, Y)) #capital X,Y test er

Variance score: 0.86

explained variance regression score:
If  ð‘¦Ì‚   is the estimated target output, y the corresponding (correct) target output, and Var is Variance, the square of the standard deviation, then the explained variance is estimated as follow:

ðšŽðš¡ðš™ðš•ðšŠðš’ðš—ðšŽðšðš…ðšŠðš›ðš’ðšŠðš—ðšŒðšŽ(ð‘¦,ð‘¦Ì‚ )=1âˆ’ð‘‰ð‘Žð‘Ÿ{ð‘¦âˆ’ð‘¦Ì‚ }/ð‘‰ð‘Žð‘Ÿ{ð‘¦} 
The best possible score is 1.0, lower values are worse.

In [115]:
from sklearn.metrics import r2_score
print("R2-score: %.2f" % r2_score(Y_predicted , Y) )

R2-score: 0.85

practice

In [114]:

x = np.asanyarray(train[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_CITY','FUELCONSUMPTION_HWY']])
y = np.asanyarray(train[['CO2EMISSIONS']])
reg.fit (x, y)
print ('Coefficients: ', reg.coef_)
y_= reg.predict(test[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_CITY','FUELCONSUMPTION_HWY']])
x = np.asanyarray(test[['ENGINESIZE','CYLINDERS','FUELCONSUMPTION_CITY','FUELCONSUMPTION_HWY']])
y = np.asanyarray(test[['CO2EMISSIONS']])
print("Residual sum of squares: %.2f"% np.mean((y_ - y) ** 2))
print('Variance score: %.2f' % reg.score(x, y))

Coefficients:  [[10.16798801  7.33048067  6.07315186  3.6779309 ]]
Residual sum of squares: 586.78
Variance score: 0.86